<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>ECommerce</title>
</head>
<body style="padding-top:70px;padding-bottom: 90px;">
    <%- include('../misc/header.ejs') %>
    <%- body %>
    <%- include('../misc/footer.ejs') %> 
</body>
</html>