<header>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb"> 
                <% var path = '' %> 
                <% nav.forEach(function(crumb,index){ %>
                    <% path += "/" %>
                    <% path += crumb %> 
                    <li class="breadcrumb-item"><a href="<%= path %>" style="text-decoration:none;color:#d2601a;font-weight:300;"><%= crumb.charAt(0).toUpperCase() + crumb.slice(1)%></a></li>
                <% }) %>  
            </ol>
        </nav>
    </div>
</header>
