<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1d3c45">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" style="color:#fff1e1;text-shadow:0 0 6px #d2601a;font-weight:300;font-family:Verdana, Geneva, Tahoma, sans-serif;" href="/">ALIBAZON</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <!-- Navbar Comps -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-auto">
            <% if(!nav){ %>
              <% var nav = [] %>
            <% }else{ %>  
              <% if(nav.includes("categories")){ %> 
                <li class="nav-item">
                  <a class="nav-link active" style="color:#fff1e1;text-shadow:0 0 8px #5d90dd;background-color:#12262c" href="/categories">Categories</a>
                </li>
              <% }else{ %> 
                <li class="nav-item">
                  <a class="nav-link active" style="color:#fff1e1" href="/categories">Categories</a>
                </li>
              <% } %> 
              <% if(!user){ %>
                <% if(nav.includes("auth")){ %> 
                  <li>
                      <a class="nav-link active" style="color:#fff1e1;text-shadow:0 0 8px #5d90dd;background-color:#12262c" href="/auth/signin">Signin</a>
                  </li>
                <% }else{ %>
                  <li>
                    <a class="nav-link active" style="color:#fff1e1" href="/auth/signin">Signin</a>
                  </li>
                <% } %>  
              <% }else{ %> 
                <% if(nav.includes("cart")){ %> 
                  <li>
                    <a class="nav-link active" style="color:#fff1e1;text-shadow:0 0 8px #5d90dd;background-color:#12262c" href="/cart">Cart</a>
                  </li>
                <% }else{ %>
                  <li>
                    <a class="nav-link active" style="color:#fff1e1" href="/cart">Cart</a>
                  </li>
                <% } %>  
                <% if(nav.includes("wishlist")){ %> 
                  <li>
                    <a class="nav-link active" style="color:#fff1e1;text-shadow:0 0 8px #5d90dd;background-color:#12262c" href="/wishlist">Wishlist</a>
                  </li>
                <% }else{ %>
                  <li>
                    <a class="nav-link active" style="color:#fff1e1" href="/wishlist">Wishlist</a>
                  </li>
                <% } %>  
                <% if(nav.includes("order")){ %> 
                  <li>
                    <a class="nav-link active" style="color:#fff1e1;text-shadow:0 0 8px #5d90dd;background-color:#12262c" href="/order/history">Orders</a>
                  </li>
                <% }else{ %>
                  <li>
                    <a class="nav-link active" style="color:#fff1e1" href="/order/history">Orders</a>
                  </li>
                <% } %>  
                <li>
                  <a class="nav-link active" style="color:#fff1e1" href="/auth/signout">Signout</a>
                </li>
              <% } %> 
            <% } %> 
          </ul>
          <!-- Search -->
          <form class="d-flex" action="/products/product_search" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="key" required>
            <button class="btn btn-outline-warning" type="submit">Search</button>
          </form>
          <!-- Search -->
        </div>
        <!-- Navbar Comps -->
      </div>
  </nav>
</header>