<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <span class="display-1 d-block">Uh oh...</span>
                <span class="display-1 d-block">Transaction failed.</span>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="/" style="bottom:0;color:#d2601a;font-weight:300;">Back to Home</a>
            </div>
        </div>
    </div>
</div>