<header>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="text-decoration:none;color:#d2601a;font-weight:300;">Home</a></li>
            </ol>
        </nav>
    </div>
</header>

<div class="container">
    <h1>Womenswear</h1>
    <p>This section covers womens fashion.</p>
    <form action="/categories/womenswear" method="GET">
        <button class="btn btn-outline-success" type="submit">Check Out</button>
    </form>
    <hr>
    <h1>Menswear</h1>
    <p>This section covers mens fashion.</p>
    <form action="/categories/menswear" method="GET">
        <button class="btn btn-outline-success" type="submit">Check Out</button>
    </form>
</div>