<header>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Womenswear</li>
            </ol>
        </nav>
    </div>
</header>

<div class="container">
    <img src="/images/products/medium/70284588_100_0.jpg" alt="test">
    <p>Product description here.</p>
    <label>Product variants.</label>
    <form class="d-flex">
        <button class="btn btn-outline-success" type="submit">Order</button>
    </form>
</div>