<div class="container">
    <img src="/images/products/medium/70284588_100_0.jpg" alt="test">
    <p>Product description here.</p>
    <label>Product variants.</label>
    <form class="d-flex">
        <button class="btn btn-outline-success" type="submit">Order</button>
    </form>
</div>